- if cache_block_position
  - cache "whitekit-block-position-#{block_position_alias}" do
    = render_block_position block_position_alias, request.path_info
- else
  = render_block_position block_position_alias, request.path_info
