<% if @success %>
  var text = '<div class="alert alert-success"><h3><%= t('admin.misc.recovery_success') %></h3></div>';
<% else %>
  var text = '<div class="alert alert-error"><h3><%= t('admin.misc.recovery_fail') %></h3></div>';
<% end %>
$('#db-recovery-modal .modal-body').html(text);
$('#db-recovery-modal .modal-footer img').hide();
$('#db-recovery-modal .modal-footer a.close-button').show();
