window.WhitekitControl =

  # Get cookie
  cookie: (cookie_name)->
    result = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' )
    if result
      unescape ( result[2] )
    else
      ''
  # Set cookie
  cookie_set: (name, value, days = 30)->
    oDate = new Date()
    oDate.setDate(days + oDate.getDate())
    # domain = self.location.host
    document.cookie = name + '=' + value + '; path=/; expires=' + oDate.toGMTString()

  # Delete cookie
  cookie_delete: (name)->
    # domain = self.location.host
    document.cookie = name + '=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT'

$(document).ready ->

  ace_editor = ''

  # Ace editor
  whitekit_ace_editor= ()->
    ace_editor = ace.edit('whitekit-editor-code')
    ace_editor.setTheme('ace/theme/monokai')
    ace_editor.getSession().setMode("ace/mode/#{$('#whitekit-site #whitekit-editor-code').data('type')}")
    ace_editor.getSession().setTabSize(2)
    ace_editor.commands.addCommand
      name: 'save'
      bindKey: {win: 'Ctrl-S', mac: 'Command-S'}
      exec: (editor)->
        whitekit_save_file()
      readOnly: false

  # Call ace editor
  whitekit_ace_editor()

  # Save file
  whitekit_save_file= ()->
    $.ajax
      url: '/whitekit/save_file_content'
      type: 'post'
      data: {content: ace_editor.getValue(), path: $('#whitekit-site #whitekit-editor-path').text()}
      beforeSend: ->
        $('#whitekit-site #whitekit-editor-diskette').fadeIn(1000)
        $('#whitekit-site #whitekit-editor-diskette img').remove()
        $('#whitekit-site #whitekit-editor-diskette').append('<%= image_tag('whitekit/disckette.png') %>')
      error: ->
        $('#whitekit-site #whitekit-editor-diskette img').remove()
        $('#whitekit-site #whitekit-editor-diskette').append('<%= image_tag('whitekit/disckette_error.png') %>')
      success: (data)->
        $('#whitekit-site #whitekit-editor-diskette').fadeOut(1000)


  # Hover on tools and image
  $('#whitekit-tools, #whitekit-tools a img').hover ->
    if $('#whitekit-tools .whitekit-slide-panel.w-open').hasClass('visible') || $('#whitekit-tools .whitekit-slide-panel.w-close').hasClass('visible')
      $(this).stop().fadeTo(400, 1)
  ,->
    if $('#whitekit-tools .whitekit-slide-panel.w-open').hasClass('visible') || $('#whitekit-tools .whitekit-slide-panel.w-close').hasClass('visible')
      $(this).stop().fadeTo(400, 0.5)

  # Hover on left panel in tools
  $('#whitekit-tools .whitekit-slide-panel').hover ->
    if $(this).hasClass('visible')
      $(this).stop().fadeTo(400, 0.7)
  ,->
    if $(this).hasClass('visible')
      $(this).stop().fadeTo(400, 0.3)

  # Click on the left panel in tools to close panel
  $('#whitekit-tools .whitekit-slide-panel.w-open').click ->
    next = $(this).next();
    if $(this).hasClass('visible')
      next.fadeTo(400, 0.3)
      $(this).removeClass('visible').fadeOut(400).parent().animate {right: '-214px'}, 400, ->
        next.addClass('visible');
        WhitekitControl.cookie_set('whitekit-tools', 'closed')
      $('#whitekit-tools').fadeTo(400, 0.5)

  # Click on the left panel in tools to open panel
  $('#whitekit-tools .whitekit-slide-panel.w-close').click ->
    prev = $(this).prev()
    if $(this).hasClass('visible')
      prev.fadeTo(400, 0.3)
      $(this).removeClass('visible').fadeOut(400).parent().animate {right: 0}, 200, ->
        WhitekitControl.cookie_delete('whitekit-tools')
        prev.addClass('visible')

  # Hover on editable blocks
  $('.white_block, .news').hover ->
    edit = WhitekitControl.cookie('whitekit-edit')
    if edit == 'on'
      $(this).addClass('whitekit-hover')
  ,->
    edit = WhitekitControl.cookie('whitekit-edit')
    if edit == 'on'
      $(this).removeClass('whitekit-hover')

  # Hover on editable news in block
  $('.white_block .news').hover ->
    edit = WhitekitControl.cookie('whitekit-edit')
    if edit == 'on'
      $(this).addClass('whitekit-sub-hover')
  ,->
    edit = WhitekitControl.cookie('whitekit-edit')
    if edit == 'on'
      $(this).removeClass('whitekit-sub-hover')

  # Click on editable news
  $('.news').click (e)->
    e.stopPropagation()
    edit = WhitekitControl.cookie('whitekit-edit')
    if edit == 'on'
      block = $(this).attr('id')
      id = parseInt(block.split('_').slice(-1)[0])
      document.location.href = "/admin/news/#{id}/edit"

  # Click on editable blocks
  $('.white_block').click ->
    edit = WhitekitControl.cookie('whitekit-edit')
    if edit == 'on'
      block = $(this).attr('id')
      id = parseInt(block.split('_').slice(-1)[0])
      document.location.href = "/admin/block/#{id}/edit"

  # Click on edit in tools
  $('#whitekit-tools #whitekit-edit').click (e)->
    e.preventDefault()
    edit = WhitekitControl.cookie('whitekit-edit')
    if edit == 'on'
      WhitekitControl.cookie_delete('whitekit-edit')
      WhitekitControl.cookie_delete('whitekit-tree')
    else
      WhitekitControl.cookie_set('whitekit-edit', 'on')

    document.location.reload()

  # Click on clear caches in tools
  $('#whitekit-tools #whitekit-clear-caches').click ->
    $(this).remove()
    $('#whitekit-tools #whitekit-clear-caches-loader').show()

  # Click on folder in tree - hide or view children directory
  $(document).on 'click', '#whitekit-site .whitekit-folder', ->
    path = $(this).data('path')
    if $(this).next().hasClass('whitekit-directory')
      # Hide subfolder
      if $(this).next().hasClass('whitekit-directory-opened')
        $(this).next().removeClass('whitekit-directory-opened').hide()
        $('.whitekit-directory', $(this).next()).removeClass('whitekit-directory-opened').hide()
        # Remove path from session
        $.post('/whitekit/session_path', { mode: 'remove', path: path } )
      # Show subfolder
      else
        $(this).next().addClass('whitekit-directory-opened').show()
        # Add path to session
        $.post('/whitekit/session_path', { mode: 'add', path: path } );
    else
      # Load subfolder
      unless $(this).hasClass('whitekit-folder-ajax')
        block = $(this)
        block.addClass('whitekit-folder-ajax')
        $.ajax
          url: '/whitekit/get_folder_content'
          type: 'post'
          data: {path: path}
          success: (data)->
            block.after(data)
            block.next().addClass('whitekit-directory-opened')

  # Click on file in tree - open file for editing
  $(document).on 'click', '#whitekit-site .whitekit-file', ->
    path = $(this).data('path')
    $('#whitekit-site #whitekit-editor-diskette').hide()
    $.ajax
      url: '/whitekit/get_file_content'
      type: 'post'
      dataType: 'json',
      data: {path: path}
      success: (data)->
        $('#whitekit-site #whitekit-editor-tools').show()
        $('#whitekit-site #whitekit-editor-code').remove()
        $("<div id=\"whitekit-editor-code\">#{data.content}</div>").insertBefore('#whitekit-site #whitekit-editor-diskette')
        whitekit_ace_editor()
        ace_editor.getSession().setMode("ace/mode/#{data.type}");
        ace_editor.gotoLine(1)
        $('#whitekit-site #whitekit-editor-path').text(path)

  # Hover on the panel to right of editor (for open or close it)
  $('#whitekit-site #whitekit-site-move').hover ->
    $(this).stop().fadeTo(400, 1)
  ,->
    $(this).stop().fadeTo(400, 0.2)

  # Click on panel to right of editor (for open or close it)
  $('#whitekit-site #whitekit-site-move').click ->
    if $(this).hasClass('opened')
      WhitekitControl.cookie_delete('whitekit-tree')
      $(this).removeClass('opened')
      $('#whitekit-site').animate({left: '-1210px'}, 400)
    else
      # If tree does not exist
      unless $('#whitekit-site .whitekit-directory').size() > 0
        $.ajax
          url: '/whitekit/get_folder_content'
          type: 'post'
          data: {path: 'app'}
          success: (data)->
            $('#whitekit-site').prepend(data)
      WhitekitControl.cookie_set('whitekit-tree', 'opened')
      $(this).addClass('opened')
      $('#whitekit-site').animate({left: '0'}, 400)

  # Hover on editor tools icon
  $('#whitekit-site .whitekit-editor-icon').hover ->
    $(this).stop().fadeTo(400, 1)
  ,->
    $(this).stop().fadeTo(400, 0.5)

  $('#whitekit-site #whitekit-editor-save-file').click ->
    whitekit_save_file()

  $('#whitekit-site #whitekit-editor-close-file').click ->
    ace_editor.setValue('')
    $('#whitekit-site #whitekit-editor-path').text('')
    $('#whitekit-site #whitekit-editor-tools').hide()
    WhitekitControl.cookie_delete('whitekit_file_type')
    WhitekitControl.cookie_delete('whitekit_file_path')
    WhitekitControl.cookie_delete('whitekit-tree')
    $('#whitekit-site #whitekit-site-move').removeClass('opened')
    $('#whitekit-site').animate({left: '-1210px'}, 400)























