%li.page{class: if item.alias == request.path_info[1..-1] then 'active' end}
  - if item.redirect_to =~ /^http/
    = link_to item.title, item.redirect_to, target: '_blank'
  - else
    = link_to item.title, page_path(item.alias)
  = ul_sub
