input[type='search'] {
	width: 200px;
}
.well {
	margin-top: -9px;
}
a {

	&:hover {
		text-decoration: none;
	}
}

#block_visibility_condition_field {

	input {
		width: 380px;
	}
}

#create-component a {
	padding: 4px 10px;
	margin-right: 20px;
	color: #333;

	&:hover {
		background: #dfdfdf;
	}
	&.disabled:focus,
	&.disabled:hover {
		background: #e6e6e6;
	}
}

#component_name {
	width: 300px;
}

.modal {

	form {
		margin: 0;
	}
}

#create-component-modal {

	.modal-body input {

		&.error {
			border-color: #d60000;
		}
	}
}
#db-recovery-modal {

	.modal-body {

		h3 {
			text-align: center;
			margin: 0;
		}
	}
}
