#main-menu
  -# TODO: now the root can take only 1 level, need to make the possibility of any
  = nested_pages @main_menu # you can use second param to specify the menu (if use separator-name then specify 'name')
